body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222831;
}
#logo {
    font-size: 30px;
    color: #00ADB5;
}
#cargo {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
}

h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgb(60, 10, 153);
}